
.NotFound-title {
    font-size: 40px;
    color: rgba(255, 0, 0, 0.824);
    font-weight: 100;
}
.NotFound-title::selection {
    background-color: rgba(255, 0, 0, 0.68);
    color: #fff;
}
.NotFound-link {
    color: #fff;
    border: 1px solid rgb(135, 130, 130);
    padding: 20px 10px;
    margin-top: 20px;
    display: inline-block;
    transition-duration: 0.5s;
}
.NotFound-link:hover {
    background-color: rgba(255, 0, 0, 0.68);
}